{% extends 'basketapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <button class="btn btn-outline-secondary">
            <a style="color: black; text-decoration: none" href="{% url 'main' %}">
                На главную
            </a>
        </button>
        <div class="basket_list mt-4">
            {% include 'basketapp/includes/inc_basket_list.html' %}
        </div>

        <div class="container">
            <div class="row justify-content-between mt-2">
                <button class="btn btn-outline-success">
                    <a style="color: black; text-decoration: none" href="{% url 'order:order_create' %}">
                        К оформлению
                    </a>
                </button>
            </div>
        </div>

    </div>
{% endblock %}