{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="category_delete">
        Уверены, что хотите удалить регион <strong>
        {{ region_to_delete.name }}</strong>?
        <form action="{% url 'admin:region_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:regions' %}">Отмена</a>
        </button>
    </div>
{% endblock %}